<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JDC | Courses</title>

    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">

    <script src="/semantic-ui/jquery.min.js"></script>
    <script src="/semantic-ui/semantic.min.js"></script>
    <script src="/application/course-management.mjs" type="module"></script>

</head>
<body>

    <nav class="ui inverted pointing secondary teal menu">

        <div class="ui container">
            <a href="/index.html" class="header item">Home</a>
            <a href="/views/registrations/list.html" class="item">Registrations</a>
            <a href="/views/students/list.html" class="item">Students</a>
            <a href="/views/classes/list.html" class="item">Class Rooms</a>
            <a href="/views/courses/list.html" class="active item">Cources</a>
        </div>

    </nav>

    <div class="ui container">
        <h1>Course Management</h1>

        <form action="#" class="ui form">
            <div class="fields">

                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="Search Name">
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <div id="search" class="ui animated grey button">
                        <div class="visible content">Search</div>
                        <div class="hidden content">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label >&nbsp;</label>
                    <div id="addNew" class="ui animated grey button">
                        <div class="visible content">Add New</div>
                        <div class="hidden content">
                            <i class="plus icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>


        <table class="ui grey selectable striped table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Fees</th>
                    <th>Descriptions</th>
                </tr>
            </thead>

            <tbody id="courses">
            </tbody>
        </table>

        <div class="ui tiny modal">
            <div class="header">
                <i class="pencil icon"></i> <span id="title">Add New Course</span>
            </div>

            <div class="content">
                
                <form action="#" class="ui form">

                    <div class="field">
                        <label for="courseName">Course Name</label>
                        <input type="text" id="courseName" placeholder="Enter Course Name">
                    </div>

                    <div class="two fields">
                        <div class="field">
                            <lable>Duration</lable>
                            <input type="number" name="duration" id="duration" placeholder="Enter Duration">
                        </div>

                        <div class="field">
                            <label for="fees">Fees</label>
                            <input type="number" name="fees" id="fees" placeholder="Enter Fees">
                        </div>
                    </div>

                    <div class="field">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" cols="30" rows="4"></textarea>
                    </div>
                </form>
            </div>

            <div class="actions">
                <div id="save" class="ui red animated button">
                    <div class="visible content">Save</div>
                    <div class="hidden content"><i class="save icon"></i></div>
                </div>

                <div id="close" class="ui animated blue button">
                    <div class="visible content">Close</div>
                    <div class="hidden content"><i class="close icon"></i></div>
                </div>
            </div>
        </div>
    
    </div>
    
</body>
</html>