<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JDC | Courses</title>

    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">

    <script src="/semantic-ui/jquery.min.js"></script>
    <script src="/semantic-ui/semantic.min.js"></script>
</head>
<body>

    <nav class="ui inverted pointing secondary teal menu">

        <div class="ui container">
            <a href="/index.html" class="header item">Home</a>
            <a href="/views/registrations/list.html" class="item">Registrations</a>
            <a href="/views/students/list.html" class="item">Students</a>
            <a href="/views/classes/list.html" class="item">Class Rooms</a>
            <a href="/views/courses/list.html" class="active item">Cources</a>
        </div>

    </nav>

    <div class="ui container">
        <h1>Course Management</h1>

        <a href="/views/courses/edit.html" class="ui animated vertical grey button">
            <div class="visible content">Add New Course</div>
            <div class="hidden content">
                <i class="plus icon"></i> Plus One
            </div>
        </a>

        <table class="ui grey selectable striped table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Fees</th>
                    <th>Descriptions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Java SE</td>
                    <td>3 Months</td>
                    <td>200,000 MMK</td>
                    <td>Basic Course</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Java Web</td>
                    <td>3 Months</td>
                    <td>200,000 MMK</td>
                    <td>Intermediate Course</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Spring Web</td>
                    <td>4 Months</td>
                    <td>300,000 MMK</td>
                    <td>Advance Course</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jarkata EE 8</td>
                    <td>4 Months</td>
                    <td>300,000 MMK</td>
                    <td>Advance Course</td>
                </tr>
            </tbody>
        </table>
    
    </div>
    
</body>
</html>