<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JDC | Add Class</title>

    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">

    <script src="/semantic-ui/jquery.min.js"></script>
    <script src="/semantic-ui/semantic.min.js"></script>
</head>
<body>

    <nav class="ui inverted pointing secondary teal menu">

        <div class="ui container">
            <a href="/index.html" class="header item">Home</a>
            <a href="/views/registrations/list.html" class="item">Registrations</a>
            <a href="/views/students/list.html" class="item">Students</a>
            <a href="/views/classes/list.html" class="active item">Class Rooms</a>
            <a href="/views/courses/list.html" class="item">Cources</a>
        </div>

    </nav>

    <div class="ui container">
        <h1>Hello Semantic UI</h1>
    </div>
    
</body>
</html>