<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JDC | Class Rooms</title>

    <link rel="stylesheet" href="/semantic-ui/semantic.min.css">

    <script src="/semantic-ui/jquery.min.js"></script>
    <script src="/semantic-ui/semantic.min.js"></script>
    <script src="/application/class-controller.mjs" type="module"></script>
</head>
<body>

    <nav class="ui inverted pointing secondary teal menu">

        <div class="ui container">
            <a href="/index.html" class="header item">Home</a>
            <a href="/views/registrations/list.html" class="item">Registrations</a>
            <a href="/views/students/list.html" class="item">Students</a>
            <a href="/views/classes/list.html" class="active item">Class Rooms</a>
            <a href="/views/courses/list.html" class="item">Cources</a>
        </div>

    </nav>

    <div class="ui container">
        <h1>Class Management</h1>

        <form action="#" class="ui form">
            <div class="fields">
                <div class="field">
                    <label for="searchCourse">Course</label>
                    <select name="course" id="schCourse" class="ui dropdown">
                        <option value="0">All Course</option>
                    </select>
                </div>

                <div class="field">
                    <label for="from">Date From</label>
                    <input type="date" name="from" id="schFrom" placeholder="Start Date">
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <div id="searchBtn" class="ui animated grey button">
                        <div class="visible content">Search</div>
                        <div class="hidden content">
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>&nbsp;</label>
                    <div id="addBtn" class="ui animated grey button">
                        <div class="visible content">Add New</div>
                        <div class="hidden content"><i class="plus icon"></i></div>
                    </div>
                </div>
            </div>
        </form>


        <table class="ui grey selectable striped table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Course</th>
                    <th>Start Date</th>
                    <th>Days</th>
                    <th>Times</th>
                    <th>Fees</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="classes"></tbody>
        </table>

        <div class="ui tiny modal">
            <div class="header">
                <i class="icon pencil"></i> <span id="title">Edit Class</span>
            </div>

            <div class="content">

                <form action="#" class="ui form">

                    <input type="hidden" id="classId">

                    <div class="field">
                        <label for="course">Course Name</label>
                        <select class="ui dropdown" name="course" id="course"></select>
                    </div>

                    <div class="field">
                        <label for="startDate">Start Date</label>
                        <input type="date" name="startDate" id="startDate" placeholder="Enter Start Date">
                    </div>

                    <div class="two wide fields">
                        
                        <div class="field">
                            <label for="days">Days</label>
                            <input type="text" id="days" placeholder="Enter Days">
                        </div>

                        <div class="field">
                            <label for="times">Times</label>
                            <input type="text" id="times" placeholder="Enter Times">
                        </div>
                    </div>

                </form>

            </div>

            <div class="actions">
                <div id="closeBtn" class="ui animated grey button">
                    <div class="visible content">Close</div>
                    <div class="hidden content"><i class="close icon"></i></div>
                </div>

                <div id="saveBtn" class="ui animated grey button">
                    <div class="visible content">Save</div>
                    <div class="hidden content"><i class="save icon"></i></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(() => {
            $('.ui.dropdown').dropdown()
        })
    </script>
    
</body>
</html>